body {
  margin: 0;
}
.c1 {
  background-color: #D9DCD7;
  height: 10vh;
  width: 45vw;
  margin: 0 auto;
  padding: 10px 0px 0px 10px;
}
.c2 {
  background-color: white;
  height: 25vh;
}
.c3 {
  background-color: blue;
  height: 15vh;
  width: 45vw;
  margin: 0 auto;
}
.c4 {
  background-color: #6FC3FC;
  height: 15vh;
  width: 45vw;
  margin: 0 auto;
}
.c5 {
  background-color: #97F96F;
  height: 15vh;
  width: 45vw;
  margin: 0 auto;
}
.c6 {
  background-color: yellow;
  height: 15vh;
  width: 45vw;
  margin: 0 auto;
}
.c11 {
  background-color: #68A9E6;
  height: 50px;
  width: 50px;
}
.wrap {
  display: table;
  height:  50px;
  width:   500px;
  font-family: cursive;
}
