* {
  background-color: #d3d3d3;
}
body {
margin: 0;
}
.top {
  background-color: black;
  height: 20vh;
}
.ral {
  background-color: grey;
  height: 80vh;
  width: 10vw;
  float: right;
  }
.lal {
  background-color: grey;
  height: 80vh;
  width: 10vw;
  float: left;
  }
.center {
  background-color: #d3d3d3;
  height: 60vh;
  width: 80vw;
  margin: 0 auto;
}
.footer {
  background-color: black;
  height: 20vh;
  width: 80vw;
  margin: 0 auto;
}
